.desktopCarousel {
  display: block;
}

.mobileCarousel {
  display: none;
}

.tileImage {
  object-fit: cover;
  border-radius: 24px;
}

@media (max-width: 767px) {
  .desktopCarousel {
    display: none;
  }

  .mobileCarousel {
    display: block;
  }
}
