/* [project]/power-orbit/public/assets/css/flaticon.css [app-client] (css) */
@font-face {
  font-family: icomoon;
  src: url("../media/icomoon.0d_zkezsxowhw.eot");
  src: url("../media/icomoon.0d_zkezsxowhw.eot") format("embedded-opentype"), url("../media/icomoon.0upg-y5nt8h31.ttf") format("truetype"), url("../media/icomoon.0nj8icb~fxxlf.woff") format("woff"), url("../media/icomoon.0_oi0n63vjdsk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icomoon !important;
}

.icon-right-arrow:before {
  content: "";
}

.icon-left-arrow:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-dribble:before {
  content: "";
}

.icon-flame:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-tick-inside-circle:before {
  content: "";
}

.icon-pin:before {
  content: "";
}

.icon-search-mail:before {
  content: "";
}

.icon-phone-call:before {
  content: "";
}

.icon-search-interface-symbol:before {
  content: "";
}

.icon-pointed-star:before {
  content: "";
}

.icon-customer-service-headset:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-laughing:before {
  content: "";
}

.icon-user-1:before {
  content: "";
}

.icon-down-arrow:before {
  content: "";
}

.icon-play-button-arrowhead:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-right-arrow-1:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-right-up:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-arrows:before {
  content: "";
}

.icon-contact:before {
  content: "";
}

.icon-left:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-left-arrow-1:before {
  content: "";
}

.icon-connection:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-square:before {
  content: "";
}

.icon-technical-support:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-team:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-right-arrow-2:before {
  content: "";
}

.icon-right-quote:before {
  content: "";
}

.icon-support:before {
  content: "";
}

.icon-idea:before {
  content: "";
}

.icon-transparency:before {
  content: "";
}

.icon-add-friend:before {
  content: "";
}

.icon-strategy:before {
  content: "";
}

.icon-customer-centricity:before {
  content: "";
}

.icon-real-estate-agency:before {
  content: "";
}

.icon-quality:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-earning:before {
  content: "";
}

.icon-graduation-cap:before {
  content: "";
}

/*# sourceMappingURL=power-orbit_public_assets_css_flaticon_css_0w3-wzy._.single.css.map*/